*{
    margin: 0;
    padding: 0;
    color: azure;
    background-color: rgba(21,26,30,255);
    font-family: jetbrains mono;
}



header{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
}

.header{
    background-color: rgb(255, 255, 255);
    height: 6vh;
    width: 99%;
    
}

.header{
display: flex;
justify-content: space-evenly;
align-items: end;
}

.head{
    display: flex;
    justify-content: center;
    width: 16.6%;
    height: 80%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.head a{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    color:rgba(21,26,30,255);
    font-size: 1.1rem;
    font-weight: 600;
}

.headcol{
    background-color: rgb(255, 255, 255);
}

#color{
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.hove{
    border-radius: 0.5rem;
}

.hove{
    width: 99%;
    height: 97%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    
    &:hover{
        background-color: rgba(21,26,30,0.9);
        transition: all 0.5s;
        a{
            color: rgb(255, 255, 255);
        }
    }
}
#profile-contanioer{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.profile-main{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 89%;
    height: 100%;
}

.profile-box{
    display: flex;
    align-items: center;
    height: 57%;
    width: 100%;
}

.pfp-box{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pfp{
    border-radius: 50%;
    height: 14rem;
    width: 14rem;
    background-color: rgb(255, 255, 255);
    background-image: url('assets/Profile.png');
    background-size: cover;
    
}

.profile-text{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-text h1{
    font-size: 5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.profile-text h2{
    font-size: 2rem;
    font-weight: 400;
    color: #75797e;
}

.profile-text h3{
    font-size: 2rem;
    font-weight: 400;
    color: #d3d4d5;
    
}

.about-area{
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 43%;
}
.about-cmd{
    display: flex;
    align-items: center;
    
    width: 30%;
}

.about-cmd h2{
    font-weight: 400;
    font-size: 1.35rem;
    color: #75797e;
}

.about-contant{
    height: 55%;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.about-text{
    margin-left: 1rem;
    margin-top: 0.5rem;
     margin-right: 1rem;
    background-color: transparent;
}

.about-text h2{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: transparent;
}

.about-text p{
    font-size: 1rem;
    font-weight: 400;
    color: #d3d4d5;
    background-color: transparent;
    margin-top: 0.5rem;

}

.skill-main{
   
    height: 100vh;
    width: 100%;
    background-color: tomato;
}

.project-main{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}