*{
    margin: 0;
    padding: 0;
    color: azure;
    background-color: rgba(21,26,30,255);
    font-family: roboto;
}

header{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.header{
    background-color: rgb(255, 255, 255);
    height: 6vh;
    width: 99%;
    
}

.header{
display: flex;
justify-content: space-evenly;
align-items: end;
}

.head{
    display: flex;
    justify-content: center;
    width: 16.6%;
    height: 80%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}

.head a{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    color:rgba(21,26,30,255);
    font-size: 1.1rem;
    font-weight: 600;
}

.headcol{
     background-color: rgb(255, 255, 255);
}

#color{
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.hove{
    border-radius: 0.5rem;
}

.hove{
    width: 99%;
    height: 97%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    
    &:hover{
        background-color: rgba(21,26,30,0.9);
        transition: all 0.5s;
        a{
            color: rgb(255, 255, 255);
        }
    }
}


